body {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: verdana;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Ropa Sans';
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  color: #000;

}

li {
  list-style: none;
}

#header {
  position: fixed;
  display: flex;
  width: 100%;
  list-style-type: none;
  flex-direction: row;
  margin: 0 auto;
  z-index: 100;
  height: 100px;
  align-items: center;

}

.header-inner {
  height: 100%;
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  justify-content: center;

}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

.navigation-right {
  display: flex;
  right: 85px;
  position: absolute;
  top: 38px;
  height: 30px;
  align-items: center;

}

.nav-links {

  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.nav-links li {
  position: relative;
  display: inline-block;
  margin: 0 12px;
}



.container {
  max-width: 80%;
  width: 90%;
  margin: auto;

}


.menu .menu-items {
  display: flex;

}

.menu .nav-container li {
  list-style: none;
}

.menu .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.menu .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}


.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}


.navbar a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.oitenta{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar li {
  margin: 0 12px;
  text-transform: uppercase;
}


section.module.parallax h1 {
  margin-bottom: 40px;
  color: black;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 2px #555;

}

.subtitle {
  position: relative;
  left: 25%;
  right: 25%;
  width: 50%;
}

section.module p {
  color: #252525;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  z-index: 50px;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
}



section.module:last-child {
  margin-bottom: 0;

}

section.module.content {
  padding: 3px 0px;
  background-color: black
}





section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-size: 1px;
}



section.module.parallax:after {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;

}





section.module.parallax-1 {
  background-image: url("https://img.freepik.com/free-vector/retro-science-wallpaper_23-2148557501.jpg?w=2000");

}

section.module.parallax-2 {
  background-image: url("https://i.ytimg.com/vi/rY0cxQHiQiU/maxresdefault.jpg");

}

section.module.parallax-3 {
  background-image: url("https://img.freepik.com/fotos-gratis/de-volta-as-aulas-material-escolar-colorido-para-estudo-de-educacao-em-um-plano-de-fundo-branco-vista-de-cima-plana_68196-5290.jpg?w=2000");

}



.footer {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  text-align: center;
  background-color: black;
  font: 8px/20px D-DIN-Bold, Arial, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.footer a {
  text-decoration: none;
  color: #fff;
  padding: 20px;
}

.copyright {
  color: grey;
  padding: 30px;
}


@media (max-width: 1270px) {
  .header-inner {
    flex-wrap: wrap;
  }
}

@media (max-width: 300px) {
  .header-inner {
    flex-direction: column;
  }
}

@media (max-width: 1270px) {
  .nav-links {
    flex-wrap: wrap;
  }
}

@media (max-width: 300px) {
  .nav-links {
    flex-direction: column;
  }
}